{% extends 'base.html.twig' %}

{% block title %}Edit Testimony{% endblock %}

{% block body %}
    <h1>Edit Testimony</h1>

    {{ include('admin_testimony/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_testimony_index') }}">back to list</a>

    {{ include('admin_testimony/_delete_form.html.twig') }}
{% endblock %}
